body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: scroll;
}


.login_container{
    width: 40vw;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .login_box {
        width: 38vw;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 100px;
    }

    & h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        width: 80%;
        display: flex;
        justify-content: start;
        margin-left: 2.6vw;
        margin-bottom: 10vh;
    }

    & input{
        width: 70%;
        height: 50px; 
        font-size: 22px;
        padding-left: 10px;
    }
}

.information_div{
    width: 60vw;
    height: 1200px;
    background-color: rgb(172, 115, 115);
}


